$main1-color: #008000;
$main2-color: #006400;
$sub1-color: #129f12;
$text-color: #195500;
$selected: #dbff75;
$point-color: #a5ff75;
$point-sub-color: #bbe9a5;
$point-sub2-color: #edffc9;
$border-color: #82c182;
$border-color-2: #a7d4a7;
$border-color-3: #143e00;
$border-color-4: #2fd068;
$hover-color-1: #c9f6b9;
$active-color-1: #5ba533;
$select-color-1: #207900;
$head-color-1: #e1f6e1;
$head-color-2: #c6e9c6;
$row-color-1: #f7fff7;
$disable-color: #646464;
