.horizon-margin{
  margin: 20px 0 10px;
  border-top: 1px solid #cdcdcd
}

.message{
  &-warning{
    color: darkred;
  }
}

.teacher{
  line-height: 0.9em;

  &:after{
    display: inline-block;
    content: '先生';
    font-size: 0.7em;
  }
}

.dialog{
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(#222, .4);
  display: flex;
  justify-content: center;
  align-items: center;

  &-inner{
    width: 80%;
    height: auto;
    max-width: 90%;
    max-height: 90%;
    background-color: white;
    padding: 20px;
    overflow-y: auto;
  }

  .head{
    display: flex;

    & > *{
      flex-shrink: 0;
    }

    .dialog-title{
      font-size: 1.8em;
      flex-grow: 2;
      flex-shrink: unset;
    }
  }
}
.right-box{
  display: flex;
  margin-left: auto;
}
.center-box{
  display: flex;
  justify-content: space-around;
}
